<div>
    <h1 class="aboutMe-heading">About ME:</h1>
        <div>
            <p class="aboutMe-content">       
                "I am pretty much self made , self taught cool awesome guy that built myself from scratch be it career or skills or even my bank account.
                I graduated as CS engineer 2017 and learnt web development out of passion of just making some websites for fun. My manager during my early
                days of career gave the option of working as remote dev so that I can be more productive and efficient with time. It was hard in the beginning but 
                working in remote for 4+ years, I learnt very important skills as discipline, time managment , resource managment , business continuity and recovery.
                These skills hold for life for any developer as the very base in IT is just internet and laptop. I believe in being efficient and being productive with time.
                My past times include driving my bike and car, meeting my friends ,exploring different places and teaching personal finance concepts based on what i have learnt and 
                applied to myself."
            </p>
        </div>

    
</div>
<div>
    <div class="contact-us">
    <h4>If you want to contact me:-</h4>
    
        <h6>Email: <a href="mailto:parameshwarrao.s@gmail.com">parameshwarrao.s@gmail.com</a></h6>          
        <h6>Github Repo:<a href="https://github.com/parameshwarao">https://github.com/parameshwarao</a></h6>                           
    </div>
</div>

