.aboutMe-heading{
    text-align: center;
    margin-top: 0.2em;
}

.aboutMe-content{
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size: 1.3em;
    padding: 1.4em;
}

.contact-us{
    padding: 1.4em;
    text-align: left;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}