p {
    font-family: Lato;
  }
  
  .input_bloc {    
    padding: 0.2em;
    font-weight: 700;
  }

  

  .tools-block{
    padding: 0.4em;
    border: 2px solid #FF8E8E;
    margin: 0.6em;
}
 
.trade-type{
  text-decoration: underline;
}

.inputLabel{
  text-decoration: underline;
}

.inputbox{
  width: 60%;
  border-radius: 7px;
  border: 1px solid grey;
}

//common font size
@mixin commonDisplayLabel{
  font-size: 1.3em;
  font-weight: 630;
}

.displayLabel{
  @include commonDisplayLabel;
  text-decoration: underline;
}

.stoploss{
  @include commonDisplayLabel;
  color:red;
}
.takeProfit{
  @include commonDisplayLabel;
  color:green;
}

.renkoInfo{
  @include commonDisplayLabel;
  color:darkorange;
}

.renkoAlarm{
  @include commonDisplayLabel;
  color:darkslateblue;
}

.calculation-block{
    border: 1px solid #db3b3b;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 8px;
}

.calculatedValueDisplay{
  @include commonDisplayLabel;
}



$AbsoluteButtonColor:#71d6cd;
.showAbsoluteCalculation{
    padding: 0.3em;
    border: 1px solid white;
    background-color: $AbsoluteButtonColor;
    color: black;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
      color:lighten($AbsoluteButtonColor,10%) !important;
      background-color:#4BA2E5;
      transition: all 0.3s ease-out;
  }
}