<div class="tools-block">
  <h3 class="trade-type">Trading using At the Money Option</h3>

  <div class="input_bloc">
    <div>
      <span class="inputLabel"> Risk: </span>
    </div>
    <div>
      <input type="number" class="inputbox" [(ngModel)]="option_riskAmount" (change)="calculateOption()" />
    </div>
  </div>



  <div class="input_bloc">
    <div>
      <span class="inputLabel">ATR: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="ATRvalue" (change)="calculateOption()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">option Buy: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="option_buy" (change)="calculateOption()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">option delta: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="opton_delta" (change)="calculateOption()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Lot Size: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="lotSize" (change)="calculateOption()" />
    </div>
  </div>

  <div class="calculation-block">
    <div>
      <span class="displayLabel">Postion Size To Trade:-</span><span class="calculatedValueDisplay">{{option_positionSizeToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Lots To Enter:- </span><span class="calculatedValueDisplay">{{option_lotsToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Risk Amount Total:-</span><span class="calculatedValueDisplay">{{option_ActualRisk}}</span>
    </div>
    <div>
      <span class="displayLabel">Option Risk pips:-</span><span class="calculatedValueDisplay">{{option_riskATRPips}}</span>
    </div>
    <div>
      <span class="displayLabel">Option TakeProfit pips:-</span><span class="calculatedValueDisplay">{{option_ATR}}</span>
    </div>
    <div>
      <span class="displayLabel">Option StopLoss price:-</span><span class="stoploss">{{option_stoploss}}</span>
    </div>
    <div>
      <span class="displayLabel">Option Takeprofit price:-</span><span class="takeProfit">{{option_takeProfit}}</span>
    </div>
  </div>

  <div>
    <button class="showAbsoluteCalculation" (click)="showAbsoluteCalculation = !showAbsoluteCalculation">Absolute
      Calculation</button>
  </div>

  <div class="calculation-block" *ngIf="showAbsoluteCalculation">
    <div>
      <span class="displayLabel">Postion Size To Trade:-</span><span class="calculatedValueDisplay">{{option_positionSizeToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Lots To Enter:- </span><span class="calculatedValueDisplay">{{option_lotsToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Risk Amount Total:-</span><span class="calculatedValueDisplay">{{option_ActualRisk}}</span>
    </div>
    <div>
      <span class="displayLabel">Option StopLoss:-</span><span class="stoploss">{{option_stoploss}}</span>
    </div>
    <div>
      <span class="displayLabel">Option Takeprofit:-</span><span class="takeProfit">{{option_takeProfit}}</span>
    </div>
  </div>
</div>


<!--Trading using At the Money Option-->

<!--Renko price Watch Calulator-->

<div class="tools-block">
  <h3 class="trade-type">Renko price Watch Calulator</h3>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Last Renko Block Postion Type: </span>
    </div>
    <select class="inputbox" [(ngModel)]="LastCompletedBlockType" (change)="calculateRenkoWatch()">
      <option Value="long">Long</option>
      <option Value="short">Short</option>
    </select>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Last Completed Renko Block Price:- </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="LastCompletedBlockPrice" (change)="calculateRenkoWatch()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Renko Block Size: Traditional/ATR </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="renkoBlockSize" (change)="calculateRenkoWatch()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Current Chart Price:- </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="CurrentPrice" (change)="calculateRenkoWatch()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Renko Block Multiplier, default 1 : </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="renkoBlockMultiplier" (change)="calculateRenkoWatch()" />
    </div>
  </div>

  <div class="calculation-block">
    <div>
      <span class="displayLabel">Last Renko Block Postion Type:- </span><span [ngClass]="{'stoploss': LastCompletedBlockType === 'short', 'takeProfit' : LastCompletedBlockType === 'long' }">{{LastCompletedBlockType}}</span>
    </div>
    <div>
      <span class="displayLabel">Renko Trend Pips:- </span><span class="renkoInfo">{{renkoTrendPips}}</span>
    </div>
    <div>
      <span class="displayLabel">Renko Reversal pips:-</span><span class="renkoInfo">{{renkoReversalPips}}</span>
    </div>
    <div>
      <span class="displayLabel">Renko Trend Price alarm:-</span><span class="renkoAlarm">{{renkoTrendPrice}}</span>
    </div>
    <div>
      <span class="displayLabel">Renko Reverasal Price alarm:-</span><span class="renkoAlarm">{{renkoReversalPrice}}</span>
    </div>
    
    <div>
      <span class="displayLabel">Current Price:-</span><span class="renkoInfo">{{CurrentPrice}}</span>
    </div>
    <div>
      <span class="displayLabel">Completed Renko block price:-</span><span class="renkoInfo">{{LastCompletedBlockPrice}}</span>
    </div>
    <div>
      <span class="displayLabel">price Difference between current and completed block:-</span><span class="renkoInfo">{{spreadDifference}}</span>
    </div>

  </div>

</div>
<!--Renko price Watch Calulator-->


<!--trade using Futures-->

<div class="tools-block">
  <h3 class="trade-type">Trading using futures</h3>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Risk: </span>
    </div>
    <input class="inputbox" type="number" [(ngModel)]="riskAmount" (change)="calculate()" />
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">ATR: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="ATRvalue" (change)="calculate()" />
    </div>
  </div>
  <div class="input_bloc">
    <div>
      <span class="inputLabel">Lot Size: </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="lotSize" (change)="calculate()" />
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Postion Type: </span>
    </div>
    <div>
      <select class="inputbox" type="number" [(ngModel)]="EntryType" (change)="calculate()">
        <option Value="long">Long</option>
        <option Value="short">Short</option>
      </select>
    </div>
  </div>

  <div class="input_bloc">
    <div>
      <span class="inputLabel">Entry price </span>
    </div>
    <div>
      <input class="inputbox" type="number" [(ngModel)]="SpotEntryPrice" (change)="calculate()" />
    </div>
  </div>

  

  <div class="calculation-block">
    <div>
      <span class="displayLabel">Entry Postion Type:-</span><span [ngClass]="{'stoploss': EntryType === 'short', 'takeProfit' : EntryType === 'long' }">{{EntryType}}</span>
    </div>
    <div>
      <span class="displayLabel">Postion Size To Trade:-</span><span class="calculatedValueDisplay">{{postionToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Lots To Enter:- </span><span class="calculatedValueDisplay">{{lotsToEnter}}</span>
    </div>
    <div>
      <span class="displayLabel">Risk Amount Total:-</span><span class="calculatedValueDisplay">{{actualRisk}}</span>
    </div>
    <div>
      <span class="displayLabel">Risk pips:-</span><span class="calculatedValueDisplay">{{riskATR}}</span>
    </div>
    <div>
      <span class="displayLabel">TakeProfit pips:-</span><span class="calculatedValueDisplay">{{ATRvalue}}</span>
    </div>
    <div>
      <span class="displayLabel">StopLoss price:-</span><span class="stoploss">{{StopLossSpotPrice}}</span>
    </div>
    <div>
      <span class="displayLabel">Takeprofit price:-</span><span class="takeProfit">{{TakeProfitSpotPrice}}</span>
    </div>
  </div>

  

</div>
  <!--trade using Futures-->