<div>
    <h1 class="aboutMe-heading">Personal Projects:</h1>
    <div>
        <p class="aboutMe-content">
            "These are projects I have created on my own to sharpen my skill. Check them out! Incase you need any help.
            Please reach me via Email!"
        </p>
    </div>


</div>



<div class="project-block">
    <ul>
        <li>
            <h6>created my very first front end angular js project back in 2017</h6>
            <ul>
                <li>
                    <h6>app link: <a href="https://parameshwarao.github.io/gotIceAndFire">https://parameshwarao.github.io/gotIceAndFire</a></h6>
                </li>
                <li>
                    <h6>github link: <a href="https://github.com/parameshwarao/gotIceAndFire">https://github.com/parameshwarao/gotIceAndFire</a></h6>
                </li>
            </ul>
        </li>
        <li>
            <h6>Created a end to end MEAN stack app employee database portal. 
                Used repl online playgroud for node and express hosting and firebase for front end and used mongodb atlas(cloud mongodb). 
                Wrote CI/CD github actions for automatic deployment on firebase Baas on</h6>
                <ul>
                    <li>
                        <h6>Frontend Angular 13:- <a href="https://github.com/parameshwarao/employeePortalFrontend">https://github.com/parameshwarao/employeePortalFrontend</a></h6>
                    </li>
                    <li>
                        <h6>Backend Node + Express + socket + redis :- <a href="https://github.com/parameshwarao/employeeDataRepo">https://github.com/parameshwarao/employeeDataRepo</a></h6>
                    </li>
                    <li>
                        <h6>App link:- <a href="https://raomeanapp.web.app/login">https://raomeanapp.web.app/login</a></h6>
                    </li>
                    <li>
                        <h6>Used various concepts of http interceptor, rxjs , reactive forms , template forms, jwt auth etc</h6>
                    </li>
                    <li>
                        <h6>Created a real time communication employee chat channel using socket io, redis adapter, and cloud redis db</h6>
                    </li>
                    <li>
                        <h6>used redis cloud instance, used socket io redis adapter to use redis pub/sub for implmenting chat service</h6>
                    </li>
                    <li>
                        <h6>used redis cloud list functionality to store and retrieve chats</h6>
                    </li>
                </ul>
        </li>
        <li>
            <h6>Learnt concepts of serverless API and knowledge about firebase functions , aws lambda , azure functions.</h6>
        </li>
        <li>
            <h6>Comparison of various cloud products of azure, GCP and AWS and their architecture.</h6>
        </li>
        <li>
            <h6>Learning about video hosting and streaming via webRTC</h6>
        </li>

    </ul>
</div>


<div>
    <div class="contact-us">
        <h4>If you want to contact me:-</h4>

        <h6>Email: <a href="mailto:parameshwarrao.s@gmail.com">parameshwarrao.s@gmail.com</a></h6>
        <h6>Github Repo:<a href="https://github.com/parameshwarao">https://github.com/parameshwarao</a></h6>
    </div>
</div>