<!--banner-->
<div class="banner">
<h1 class="main_title">Welcome To My Page!!</h1>
</div>

<!--Blog Image-->
<div class="container-fluid display--container">
  <div class="container-fluid display--sub-container">
    <h1>S PARAMESHWARA RAO</h1>

    <p class="display--tagline">
      "A cool awesome full stack engineer looking for opportunity's to develop skills and abilites."
    </p>

  </div>
  <div class="container-fluid display--skills-container">
    <h3>skills:</h3>

    <p class="display--skills-list">
      Html, Css & Scss , Javascript , Typescript, Angular JS, Rxjs, Angular 6+ and above , Jquery , Bootstrap, Node js, Express js , mongoDB,  git,
      C#, Asp.net MVC, Chart js , Storybook UI , Moment js , npm , designing systems and architecture 
    </p>

  </div>
  <!--<img class="image-responsive" src="assets/images/bannerFlyer.jpg" alt="image" width="450" height="400">-->
</div>

<!--blog space-->
<div class="portfolio-container">
  <!--navigation Container-->
<div class="nav-container">
  <div class="nav-section">
    <div class="responsive-menu">
      <span class="responsive-text">MENU</span>
      <span class="responsive-text">       
        <button type="button" class="navbar-toggle" (click)="expandResponsiveMenu = !expandResponsiveMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </span>
    </div>
    <div class="nav-menu" [ngClass]="expandResponsiveMenu ?'is-active' : ''">      
        <a class="nav-link" [routerLink]="['home']"  [routerLinkActive]="['active']" (click)="expandResponsiveMenu = false">Home</a>      
        <a class="nav-link" [routerLink]="['about']" [routerLinkActive]="['active']" (click)="expandResponsiveMenu = false">About Me</a>
        <ng-container *ngIf="false">
        <a class="nav-link" [routerLink]="['tools']" [routerLinkActive]="['active']">Tools</a>
        <a class="nav-link" [routerLink]="['personalFinance']" [routerLinkActive]="['active']">Personal Finance</a> 
        <a class="nav-link" [routerLink]="['blog']" [routerLinkActive]="['active']">blog</a>
        <a class="nav-link" [routerLink]="['DisclaimerComponent']" [routerLinkActive]="['active']">Disclaimer</a>
      </ng-container>
        <!--<a class="nav-link">Contact</a>-->            
    </div>
  </div>
</div>

<!--blog section-->
<div class="main-container">  
  <router-outlet></router-outlet>
</div>
</div>

 <!-- Footer -->
 <footer class="footer-Class">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Rao Awesome</p>
  </div> 
</footer>